PromDate/obj/
NarratorDate/obj/
.vs/
.vscode/
Temp/
PromDate/bin/
NarratorDate/bin/
PromDateInjector/bin/
PromDateInjector/obj/
PromDateInstaller/bin/
PromDateInstaller/obj/
/AutoSkip/bin/Release
/AutoSkip/obj/Release
/ButtToCloud/bin/Release
/ButtToCloud/obj/Release
/MonsterPromDiscordRPC/bin/Debug
/MonsterPromDiscordRPC/bin/Release
/MonsterPromDiscordRPC/obj/Debug
/MonsterPromDiscordRPC/obj/Release
/MonsterPromDiscordRPC/obj/x86/Debug
